.movies__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.movies__movie-item {
  margin-bottom: 40px;
}

.movies__movie-item:last-child {
  margin-bottom: 0;
}

.movies__not-found {
  color: #FFF;
  font-size: 14px;
  line-height: 1.21;
  max-width: 150px;
  margin: 40px auto;
}

@media screen and (max-width: 1023px) {
  .movies__list {
    padding-top: 60px;
  }
}

@media screen and (max-width: 550px) {
  .movies__list {
    padding-top: 40px;
  }
}
