.movies {
  width: calc(100% - 140px);
  max-width: 1140px;
  padding: 0 70px 80px;
  margin: 0 auto;
}

.movies__more-button {
  min-width: 320px;
  background-color: inherit;
  border: 1px solid #424242;
  border-radius: 5px;
  margin: 50px auto 0;
  padding: 11px 0;
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  transition: opacity 1s linear;
}

.movies__more-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .movies {
    width: calc(100% - 60px);
    padding: 0 30px 80px;
  }
}

@media screen and (max-width: 700px) {
  .movies {
    width: calc(100% - 20px);
    padding: 0 10px 80px;
    min-width: 300px;
  }

  .movies__more-button {
    min-width: 240px;
  }
}
