.about-project {
  padding: 110px 0;
  color: #fff;
  max-width: 1140px;
  margin: 0 auto;
}

.about-project__info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  margin-top: 70px;
  margin-bottom: 120px;
}

.about-project__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.about-project__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.about-project__info-item {
  max-width: 550px;
}

.progress-bar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0;
  width: 100%;
  text-align: center;
}

.progress-bar__text {
  margin: 0;
  padding: 14px 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  color: #8b8b8b;
}

.progress-bar__text_type_green {
  background-color: #3ddc84;
  color: #000;
  padding: 9px 0;
}

.progress-bar__text_type_dark {
  background-color: #303030;
  color: #fff;
  padding: 9px 0;
}

@media screen and (max-width: 1024px) {
  .about-project__info-item {
    max-width: 319px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .about-project__info {
    flex-direction: column;
    margin: 60px 0;
  }

  .about-project__info-item:first-child {
    margin-bottom: 56px;
  }

  .about-project__title {
    font-size: 18px;
  }

  .progress-bar {
    grid-template-columns: 35% 65%;
  }

  .progress-bar__text {
    font-size: 11px;
    padding: 10px 0;
  }
}
