.section {
  width: 100%;
  background-color: inherit;
}

.section_type_tech {
  background-color: #272727;
}

.section__container {
  max-width: 1140px;
  margin: 0 auto;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 110px;
}

.section__container_type_student {
  padding-bottom: 100px;
}

.section__name {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.23;
  margin-bottom: 23px;
}

.section__content {
  border-top: 1px solid #dadada;
}

.section__content_type_tech {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .section {
    padding: 0 50px;
    width: calc(100% - 100px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .section__container {
    padding: 90px 0;
  }
}

@media screen and (max-width: 468px) {
  .section {
    padding: 0 18px;
    width: calc(100% - 36px);
  }

  .section_type_student {
    padding: 0 14px;
    width: calc(100% - 28px);
  }

  .section__container {
    padding-bottom: 70px;
    padding-top: 60px;
  }

  .section__name {
    font-size: 18px;
  }

  .section__content_type_tech {
    border-top: 1px solid #000000;
  }
}
